---
---
/* Override theme defaults */
$base-font-family: 'Georgia', serif;
$base-font-size: 20px;
$content-width: 800px;

/* load _sass/minima.scss */
@import "minima";

/* Put any custom CSS here */
h1, h2, h3 {
    font-family: 'Helvetica', sans-serif;
}

.profile-image {
    height: auto;
    max-width: 500px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}


.footer-col-custom {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .footer-col-custom {
        flex: 0 1 100%;
    }

    .footer-col-custom:last-child {
        text-align: left;
    }

    .footer-row {
        flex-wrap: wrap;
    }
}

.social-media-list {
    display: table;
    margin: 0 auto;
    li {
        &:last-of-type { margin-right: 0; margin-bottom: 0; }
        a {
        display: block;
        &:last-of-type { padding-bottom: 0; }
        }
    }
}

.post-list {
    li {
        margin-bottom: 20px;
    }
    .post-excerpt {
        font-style: italic;
        font-size: $small-font-size;
    }
}

.font-small {
    font-size: $small-font-size;
}

/* Gallery styles */
.gallery-container {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    margin-bottom: 20px;
}
  
.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0; /* Remove default margins */
    background-color: rgb(230, 230, 230);
}

.gallery-item {
    flex: 1 0 33.333%; /* Three images per row */
    padding: 10px;
    box-sizing: border-box;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .gallery-item {
        flex: 1 0 50%; /* Two images per row on smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .gallery-item {
        flex: 1 0 100%; /* One image per row on mobile devices */
    }
}

.post-title {
    font-size: $base-font-size * 2.2;
}
